@{
    ViewBag.Title = "About us";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<p>
    Club de Carte este un loc prietenos și primitor pentru recenzii de cărți și evenimente.
    Promovăm deschis orice eveniment de carte care aduce valoare și informații utile cititorilor.
    Aici veți găsi un club unde puteți citi recenzii de cărți și puteți găsi recomandări pentru a
    discuta despre cărțile preferate.
<p>
<p>
    Club de Carte este un proiect care susține accesul la educație pentru copii și tineri,
    crezând cu tărie că investițiile în acest domeniu sunt fundamentale pentru un viitor sănătos,
    pozitiv și frumos a oricărei societăți.
</p>
