@{
    ViewBag.Title = "Contact us";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<address>
    <strong>You can find us here:</strong><br />
    23A, Flower Street<br />
    Timișoara, Timiș 300274 <br />
    <abbr title="Telefon">T:</abbr>
    +4 0721 537 854
</address>

<address>
    <strong>You can text us here:</strong><br />  <a href="mailto:contact@clubdecarte.ro">contact@clubdecarte.ro</a><br />
</address>