@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>Bine ai venit la Club de Carte!</h1>

    <p><a href="https://localhost:44314/Home/About" class="btn-primary">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cartea săptămânii </h2>
        <p>
            În fiecare săptămână vă oferim o nouă lectură, nu neapărat noutăți, ci și volume publicate acum câțiva ani și, uneori, chiar și cărți antice.
        </p>
        <p><a class="btn-default" href="https://localhost:44314/BookOfTheWeeks">See the book of the week &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Evenimente</h2>
        <p>Vă prezentăm evenimente de carte din diferite orașe din România sau online, precum și voi puteți adăuga evenimente viitoare din orașul vostru. </p>
        <p><a class="btn-default" href="https://localhost:44314/Events">See the events &raquo;</a></p>
    </div>

</div>