body {
    background-image: url('https://d1e00ek4ebabms.cloudfront.net/production/c355b933-c751-4a24-85b8-b5371f181383.jpg');
    background-repeat: repeat;
    height: 100%;
    background-size: cover;
}
