body {
    background-image: url('https://www.exilva.com/hs-fs/hubfs/upcoming-events-1.png?width=750&name=upcoming-events-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
